@import '../../styles/extends.scss';
@import '../../styles/mixins.scss';

.form {
  @extend %shadow;
  width: 500px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  border-radius: 10px;

  .field {
    display: flex;
    align-items: center;
    position: relative;

    input {
      @extend %input;
    }

    i {
      @extend %shadow;
      font-size: 1.3rem;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      display: grid;
      place-content: center;
      position: absolute;
      top: 0;
      right: 0px;
      font-weight: 500;
    }
  }

  button {
    @extend %mainBtn
  }

  p {
    a {
      font-weight: bold;
      color: var(--main-color);
    }
  }

  @include xs {
    width: 100%;

    .field {
      input {
        width: auto;
        min-width: 300px;
      }
    }

    p {
      font-size: 0.9rem;
    }
  }
}