%shadow {
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff !important;
}

%insetShadow {
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff !important;
}

%mainBtn {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  padding: 15px 30px;
  width: 100%;
  max-width: 330px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #b1b1b1, -5px -5px 10px #fff;
  font-size: 1.1rem;
  cursor: pointer;
}

%input {
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
  padding: 20px 20px;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 20px;
  width: 350px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
}